{% extends 'base.html.twig' %}

{% block title %}Post01 index{% endblock %}

{% block body %}
    <h1>Post01 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post01 in post01s %}
            <tr>
                <td>{{ post01.id }}</td>
                <td>{{ post01.title }}</td>
                <td>{{ post01.description }}</td>
                <td>
                    <a href="{{ path('post01_show', {'id': post01.id}) }}">show</a>
                    <a href="{{ path('post01_edit', {'id': post01.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post01_new') }}">Create new</a>
{% endblock %}
